
/* navbar style */
.navbar{outline-offset: -13px;
    padding: 30px; 
    background: #9519e8;
    background: -moz-linear-gradient(left, #9519e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    background: -webkit-linear-gradient(left, #9519e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
    background: linear-gradient(to right, #9519e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 );
}

.nav-link , .navbar-brand{color: #f4f4f4; cursor: pointer;}
.nav-link{margin-right: 1em!important;}
.navbar-brand:hover{color: #f97300;}
.nav-link:hover{background: #f4f4f4; color: #f97300; border-radius: 20px;}
.navbar-collapse{justify-content: flex-end;}
.navbar-toggler{background: #fff!important;}

/*header style*/
.header{
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }


.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(46, 40, 40, 0.89);
   }

/* cards  */
.blog{
    margin: 4em 0;
    position: relative; 
   }
   .blog h1{
    color:#F97300;
    margin: 1em; 
   }
   .blog .card{
    box-shadow: 0 0 20px #ccc;
    margin-top: 4em;
   }

   .blog .card-title{
    color:#F97300;
     
   }
   .blog .card-body{
    padding: 2em;
   }
